<div class="clearfix">
    <div class="row">
        <table class="table table-bordered table-responsive table-striped table-concede">
            <thead>
            <tr class="active">
                <th>

                </th>
                <th>
                    عنوان سمت
                </th>
                <th>
                    دستمزد جاری
                </th>
                <th>
                    دستمزد بعدی
                </th>
                <th>
                    <button class="btn btn-primary btn-sm" ng-click="ctrl.event.insert()">create</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in ctrl.view.positions">

                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{row.title}}
                </td>
                <td>
                    {{row.getCurrentWage().id}}- {{row.getCurrentWage().price}}<br/>
                    <span ng-if="! row.isCurrentTheFirstWage()" style="font-size: 60%">
                        تاریخ انتشار: {{row.getNextWage().startDate}}
                    </span>
                </td>
                <td>
                    <div ng-if="row.getNextWage() != null">
                        {{row.getNextWage().id}}- {{row.getNextWage().price}}<br/>
                        <span style="font-size: 60%">
                            تاریخ انتشار: {{row.getNextWage().startDate}}
                        </span>
                    </div>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="ctrl.event.remove(row.id)">delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>