<div class="clearfix">
    <table class="table table-striped table-bordered table-condensed table-responsive table-hover">
        <thead>
        <tr>
            <th>
                <button class="btn btn-primary" ng-click="ctrl.event.insert()">create</button>
            </th>
            <th>

            </th>
            <th>
                عنوان دستمزد
            </th>
            <th>
                تاریخ شروع
            </th>
            <th>
                مبلغ دستمزد (روزانه)
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in ctrl.view.wages">
            <td>
                <button class="btn btn-danger" ng-click="ctrl.event.remove(row.id)">delete</button>
            </td>
            <td>
                {{$index + 1}}
            </td>
            <td>
                {{row.name}}
            </td>
            <td>
                {{row.startDate}}
            </td>
            <td>
                {{row.price}}
            </td>
        </tr>
        </tbody>
    </table>
</div>