<div class="container">
<div class="clearfix">
    <div class="row" ng-if="ctrl.view.mode == ctrl.type.PageMode.SELECT">
        <div class="col-md-4">
            <select class="form-control" ng-model="ctrl.view.headerSelections.year" ng-options="x as x for x in ctrl.view.years">
                <option value="" disabled selected>لطفا سال را انتخاب کنید</option>
            </select>
        </div>
        <div class="col-md-4">
            <select class="form-control" ng-model="ctrl.view.headerSelections.month" ng-options="item as item.value for item in ctrl.view.months.getAllKeyValues()">
                <option value="" disabled selected>لطفا ماه را انتخاب کنید</option>
            </select>
        </div>
        <div class="col-md-4">
            <select class="form-control" ng-model="ctrl.view.headerSelections.person" ng-options="x as (x.firstname | emptyForNull) + ' ' + (x.lastname | emptyForNull) for x in ctrl.view.personnel">
                <option value="" disabled selected>لطفا شخص را انتخاب کنید</option>
            </select>
        </div>
        <button class="btn btn-primary" ng-click="ctrl.event.toEditWorks()">
            Edit
        </button>
    </div>

    <div class="row" ng-if="ctrl.view.mode == ctrl.type.PageMode.EDIT">
        <form ng-submit="save()">
            <table class="table table-bordered table-condensed table-striped table-hower">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th ng-repeat="building in ctrl.view.tableSelections.selectedBuildings">
                            {{building.name}}
                        </th>
                        <th>
                            <select class="form-control" ng-model="ctrl.view.tableSelections.building"
                                    ng-change="ctrl.event.selectBuilding()"
                                    ng-options="building as building.name for building in ctrl.view.buildings" >
                                <option value="" disabled selected>افزودن ساختمان</option>
                            </select>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="day in ctrl.view.days">
                        <td>
                            {{day}}
                        </td>
                        <td ng-repeat="building in ctrl.view.tableSelections.selectedBuildings">
                            {{building.name}}
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

</div>