<div class="clearfix">
    <div ng-if="ctrl.view.mode == ctrl.type.PageMode.SELECT">
        <form ng-submit="ctrl.event.toViewWorks()">
            <div class="col-md-2">
                <input class="form-control" ng-model="ctrl.view.headerSelections.startDate"
                       jq-date-picker="" date-picker-config="ctrl.view.startDateConfig"
                       required="required"
                       placeholder="از تاریخ"
                />
            </div>
            <div class="col-md-2">
                <input class="form-control" ng-model="ctrl.view.headerSelections.endDate"
                       jq-date-picker="" date-picker-config="ctrl.view.endDateConfig"
                       required="required"
                       placeholder="تا تاریخ"
                />
            </div>
            <div class="col-md-3">
                <label for="selectReportType" style="display:none"></label>
                <select id="selectReportType" class="form-control" ng-model="ctrl.view.headerSelections.reportType"
                        ng-options="report.key as report.value for report in ctrl.view.reportTypes.getAllKeyValues()"
                        required="required">
                    <option value="" disabled selected>لطفا نوع گزارش را مشخص کنید</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="selectReportValueNone" style="display:none"></label>
                <select id="selectReportValueNone" ng-if="ctrl.view.headerSelections.reportType == ctrl.type.ReportType.NONE" class="form-control">
                        <option value="" disabled>نوع گزارش مشخص نشده است</option>
                </select>
                <label for="selectReportValuePerson" style="display:none"></label>
                <select ng-if="ctrl.view.headerSelections.reportType == ctrl.type.ReportType.BY_PERSON" class="form-control"
                        id="selectReportValuePerson"
                        ng-model="ctrl.view.headerSelections.person"
                        ng-options="person as (person.firstname | emptyForNull) + ' ' + (person.lastname | emptyForNull) for person in ctrl.view.personnel |addSelectOption:ctrl.view.headerSelections.personAllOption"
                        required="required">
                    <option value="" disabled selected>لطفا شخص را انتخاب کنید</option>
                </select>
                <label for="selectReportValueBuilding" style="display:none"></label>
                <select ng-if="ctrl.view.headerSelections.reportType == ctrl.type.ReportType.BY_BUILDING" class="form-control"
                        id="selectReportValueBuilding"
                        ng-model="ctrl.view.headerSelections.building"
                        ng-options="building as building.name for building in ctrl.view.buildings | addSelectOption:ctrl.view.headerSelections.buildingAllOption"
                        required="required">
                    <option value="" disabled selected>لطفا پروژه را انتخاب کنید</option>
                </select>
                <label for="selectReportValuePosition" style="display:none"></label>
                <select ng-if="ctrl.view.headerSelections.reportType == ctrl.type.ReportType.BY_POSITION" class="form-control"
                        id="selectReportValuePosition"
                        ng-model="ctrl.view.headerSelections.position"
                        ng-options="position as position.title for position in ctrl.view.positions | addSelectOption:ctrl.view.headerSelections.positionAllOption"
                        required="required">
                    <option value="" disabled selected>لطفا سمت را انتخاب کنید</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" ng-disabled="!ctrl.view.isHeaderLoaded">
                    نمایش
                </button>
            </div>
        </form>
    </div>




    <div ng-if="ctrl.view.mode == ctrl.type.PageMode.VIEW">

        <div class="report-content">
            <style type="text/css" media="print">
                body {
                    direction: rtl;
                    text-align: center;
                }

                .table-bordered {
                    width: 100%;
                    text-align: center;
                    border-collapse: collapse !important;
                }

                .table-bordered th,
                .table-bordered td {
                    border: 1px solid #ddd !important;
                }

                .table-bordered {
                    border: 1px solid #dddddd;
                    font-size: 11px;
                }

                .table-bordered > thead > tr > th,
                .table-bordered > tbody > tr > th,
                .table-bordered > tfoot > tr > th,
                .table-bordered > thead > tr > td,
                .table-bordered > tbody > tr > td,
                .table-bordered > tfoot > tr > td {
                    border: 1px solid #dddddd;
                }

                .table-bordered > thead > tr > th,
                .table-bordered > thead > tr > td {
                    border-bottom-width: 2px;
                }

                .table-bordered th {
                    text-align: center;
                    background-color: whitesmoke;
                    font-weight: bold;
                    cursor: pointer;
                }
            </style>


            <div ng-if="ctrl.view.headerSelections.reportType == ctrl.type.ReportType.BY_PERSON">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span>از تاریخ:</span>
                            <span ng-bind="ctrl.view.headerSelections.startDate"></span>
                        </div>
                        <div class="col-md-4">
                            <span>تا:</span>
                            <span ng-bind="ctrl.view.headerSelections.endDate"></span>
                        </div>
                        <div class="col-md-4">
                            <span>نام پرسنل:</span>
                            <span ng-bind="(ctrl.view.headerSelections.person.firstname | emptyForNull) + ' ' + (ctrl.view.headerSelections.person.lastname | emptyForNull)"></span>
                        </div>
                    </div>

                    <table class="report-table table table-striped table-bordered table-condensed table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <span>
                                    پروژه
                                    </span>
                                </th>
                                <th>
                                    <span>
                                    کارکرد
                                    </span>
                                </th>
                                <th>
                                    <span>
                                    بها
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ctrl.view.workBuildingsByPerson">
                                <td>
                                    <span ng-bind="item.building.name"></span>
                                </td>
                                <td>
                                    <span class="no-break" ng-bind="item.sum|workTime"></span>
                                </td>
                                <td>
                                    <span class="no-break" ng-bind="item.sumMoney|rials"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: seagreen;">
                                    <span>
                                    مجموع
                                    </span>
                                </td>
                                <td style="color: seagreen;">
                                    <span class="no-break" ng-bind="ctrl.view.totalSum|workTime"></span>
                                </td>
                                <td style="color: seagreen;">
                                    <span class="no-break" ng-bind="ctrl.view.totalSumMoney|rials"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>





            <div ng-if="ctrl.view.headerSelections.reportType == ctrl.type.ReportType.BY_BUILDING">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span>از تاریخ:</span>
                            <span ng-bind="ctrl.view.headerSelections.startDate"></span>
                        </div>
                        <div class="col-md-4">
                            <span>تا:</span>
                            <span ng-bind="ctrl.view.headerSelections.endDate"></span>
                        </div>
                        <div class="col-md-4">
                            <span>نام پروژه:</span>
                            <span ng-bind="ctrl.view.headerSelections.building.name"></span>
                        </div>
                    </div>

                    <table class="report-table table table-striped table-bordered table-condensed table-responsive table-hover">
                        <thead>
                        <tr>
                            <th>
                                <span>
                                کارگر
                                </span>
                            </th>
                            <th>
                                <span>
                                کارکرد
                                </span>
                            </th>
                            <th>
                                <span>
                                بها
                                </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--Begin of NgRepeat-->
                        <tr ng-repeat-start="($index, item) in ctrl.view.workPersonsByBuilding"
                            ng-if="($index==0 || item.person.position.id != ctrl.view.workPersonsByBuilding[$index-1].person.position.id)">
                            <td colspan="3" class="separator">
                                {{item.person.position.title}}
                            </td>
                        </tr>
                        <tr ng-repeat-end="">
                            <td>
                                <span ng-bind="(item.person.firstname|emptyForNull) + ' ' + (item.person.lastname | emptyForNull)"></span>
                            </td>
                            <td>
                                <span class="no-break" ng-bind="item.sum|workTime"></span>
                            </td>
                            <td>
                                <span class="no-break" ng-bind="item.sumMoney|rials"></span>
                            </td>
                        </tr>
                        <!--End of NgRepeat-->
                        <tr>
                            <td style="color: seagreen;">
                                <span>
                                    مجموع
                                </span>
                            </td>
                            <td style="color: seagreen;">
                                <span class="no-break" ng-bind="ctrl.view.totalSum|workTime"></span>
                            </td>
                            <td style="color: seagreen;">
                                <span class="no-break" ng-bind="ctrl.view.totalSumMoney|rials"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>






            <div ng-if="ctrl.view.headerSelections.reportType == ctrl.type.ReportType.BY_POSITION">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span>از تاریخ:</span>
                            <span ng-bind="ctrl.view.headerSelections.startDate"></span>
                        </div>
                        <div class="col-md-4">
                            <span>تا:</span>
                            <span ng-bind="ctrl.view.headerSelections.endDate"></span>
                        </div>
                        <div class="col-md-4">
                            <span>عنوان سمت:</span>
                            <span ng-bind="ctrl.view.headerSelections.position.title"></span>
                        </div>
                    </div>

                    <table class="report-table table table-striped table-bordered table-condensed table-responsive table-hover">
                        <thead>
                        <tr>
                            <th>
                                <span>
                                کارگر
                                </span>
                            </th>
                            <th ng-repeat="building in ctrl.view.buildingsForWorksByPosition">
                                <span ng-bind="building.name"></span>
                            </th>
                            <th style="color: seagreen;">
                                <span>
                                 مجموع
                                </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in ctrl.view.workPersonBuildingsByPosition">
                            <td style="font-weight: bold">
                                <span ng-bind="(item.person.firstname|emptyForNull) + ' ' +  (item.person.lastname|emptyForNull)"></span>
                            </td>
                            <td ng-repeat="building in ctrl.view.buildingsForWorksByPosition">
                                <span class="no-break"
                                      ng-bind="ctrl.method.getGroupingByPersonAndBuilding(item.person,building).sum|workTime"></span>
                                <br/>
                                <span class="no-break"
                                      ng-bind="ctrl.method.getGroupingByPersonAndBuilding(item.person,building).sumMoney|rials"></span>
                            </td>
                            <td style="color: seagreen;">
                                <span class="no-break" ng-bind="item.sum|workTime"></span>
                                <br/>
                                <span class="no-break" ng-bind="item.sumMoney|rials"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: seagreen;font-weight: bold;">
                                <span>
                                    مجموع
                                </span>
                            </td>
                            <td style="color: seagreen;"
                                ng-repeat="building in ctrl.view.buildingsForWorksByPosition">
                                <span class="no-break"
                                      ng-bind="ctrl.method.getGroupingByBuilding(building).sum|workTime"></span>
                                <br/>
                                <span class="no-break"
                                      ng-bind="ctrl.method.getGroupingByBuilding(building).sumMoney|rials"></span>
                            </td>
                            <td style="color: #d9534f;">
                                <span class="no-break" ng-bind="ctrl.view.totalSum|workTime"></span>
                                <br/>
                                <span class="no-break" ng-bind="ctrl.view.totalSumMoney|rials"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>


        <div>
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="ctrl.event.toSelect()">
                    بازگشت
                </button>
                <button class="btn btn-default" ng-click="ctrl.event.toExcel($event)">
                    خروجی Excel
                </button>
                <!--<button class="btn btn-default" ng-click="ctrl.event.toPdf($event)">
                    خروجی PDF
                </button>-->
                <button class="btn btn-default" ng-click="ctrl.event.toPrint($event)">
                    Print
                </button>
            </div>
        </div>
    </div>
</div>