<!DOCTYPE html>
<html lang="en" ng-app="personnelManagement">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/css/site.css" rel="stylesheet" type="text/css"/>
    <link href="/css/lib/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <li><a href="#/building">ساختمان ها</a></li>
                <li><a href="#/position">سمت ها</a></li>
                <li><a href="#/person">اشخاص</a></li>
                <!--<li><a href="#/wage"  class="btn btn-default">دستمزد ها</a></li>-->
                <li><a href="#/work/insert">کارکرد</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div class="container">
        <!-- SINGLE PAGE CONTAINER -->
        <div ng-view=""></div>
    </div>

    <!-- BASE LIBRARY -->
    <!--<script src="/js/require.js"></script>-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap-rtl.min.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-route.min.js"></script>
    <script src="/js/customized/angular-resource.js"></script> <!--MIN-->
    <script src="/js/lib/linq.js"></script>

    <!-- OTHER ADDED LIBRARY -->
    <script src="/js/lib/moment/moment.min.js"></script>
    <script src="/js/lib/moment/moment-jalaali.min.js"></script>
    <script src="/js/lib/jquery.ui.datepicker.min.js"></script>

    <!-- Utility -->
    <script src="/js/TypedUtility.js"></script>
    <script src="/js/TypedExtensions.js"></script>

    <!-- Utility Angular -->
    <script src="/js/angularUtility/app.js"></script>
    <script src="/js/angularUtility/filters/emptyForNull.js"></script>


    <!-- App -->
    <script src="/app/app.js"></script>
    <script src="/app/config.js"></script>

    <!-- App/Util -->
    <script src="/app/util/modelType.js"></script>
    <script src="/app/util/modelHelper.js"></script>
    <script src="/app/util/keyValue.js"></script>
    <script src="/app/util/dictionary.js"></script>

    <!-- App/Models/Unbind/Types -->
    <script src="/app/models/unbind/types/pageMode.js"/>

    <!-- App/Models/Other -->


    <!-- App/Models/Entities -->
    <script src="/app/models/entities/buildingVm.js"></script>
    <script src="/app/models/entities/personVm.js"></script>
    <script src="/app/models/entities/positionVm.js"></script>
    <script src="/app/models/entities/wageVm.js"></script>
    <script src="/app/models/entities/workVm.js"></script>

    <!-- App/Models/DTO -->
    <script src="/app/models/dto/positionInsertDto.js"></script>
    <script src="/app/models/dto/workPerDayDto.js"></script>

    <!-- App/Services -->
    <script src="/app/services/baseDataService.js"></script>
    <script src="/app/services/buildingsService.js"></script>
    <script src="/app/services/personnelService.js"></script>
    <script src="/app/services/positionsService.js"></script>
    <script src="/app/services/wagesService.js"></script>
    <script src="/app/services/worksService.js"></script>

    <!-- App/Pages (Directives) -->
    <!-- App/Pages (Dialog) -->
    <!-- App/Pages (Controllers) -->
    <script src="/app/pages/building/buildingIndexController.js"></script>
    <script src="/app/pages/building/buildingInsertController.js"></script>

    <script src="/app/pages/person/personIndexController.js"></script>
    <script src="/app/pages/person/personInsertController.js"></script>

    <script src="/app/pages/position/positionIndexController.js"></script>
    <script src="/app/pages/position/positionInsertController.js"></script>

    <script src="/app/pages/wage/wageIndexController.js"></script>
    <script src="/app/pages/wage/wageInsertController.js"></script>

    <script src="/app/pages/work/workIndexController.js"></script>
    <script src="/app/pages/work/workInsertController.js"></script>
</body>
</html>