<div class="clearfix">
    <div class="col-md-6">
        <div class="clearfix">
            <form ng-submit="ctrl.event.save()">
                <div class="row">
                    <div class="col-md-4">
                        نام پروژه
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" ng-model="ctrl.view.building.name"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">
                            ذخیره اطلاعات
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.event.cancel()">
                            انصراف
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>