<form ng-submit="updCtrl.event.save()">

    <div class="ng-dialog-header ng-dialog-warning">
        <div class="ng-dialog-title">
    ویرایش پروژه
        </div>
    </div>

    <div class="ng-dialog-body">
        <div class="row">
            <div class="col-md-4">
                <label for="buildingName">
                    نام پروژه
                </label>
            </div>
            <div class="col-md-8">
                <input id="buildingName" class="form-control ngdialog-input" type="text" ng-model="updCtrl.view.building.name"/>
            </div>
        </div>
    </div>

    <div class="ng-dialog-footer">
        <button type="submit" class="btn btn-warning btn-sm">
            ذخیره اطلاعات
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="updCtrl.event.close()">
            انصراف
        </button>
    </div>

</form>